<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>SQL-терминал</title>
    </head>
    <body>
        <h1>SQL-терминал</h1>
        <textarea style="height: 250px; width: 700px" disabled="true" name="terminalWindow" th:text="${listCustomers}"/>
        <form action="./terminal" method="POST">
            <input style="height: 15px; width: 500px" name="command"/>
            <button style="height: 25px; width: 100px" type="submit">Выполнить</button>
        </form>
    </body>
</html>
