<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Интернет-магазин</title>
        <link rel="stylesheet" type="text/css" href="../tmp/main.css" th:href="@{./css/main.css}" media="screen"/>
    </head>
    <body>
        <h1>Интернет-магазин</h1>
        <form action="./getAllOrders" method="GET">
            <button class="big">На страницу заказов</button>
        </form>
        <h2>Заказ <label th:text="${orderId}"/></h2>
        <form th:action="@{./saveOrderById(id = ${orderId})}" th:method="POST" th:object="${customer}">
            <label>Имя покупателя</label>
            <input name="firstName" th:value="*{firstName}"/>
            <label class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/><br/>
            <label>Фамилия покупателя</label>
            <input name="lastName" th:value="*{lastName}"/>
            <label class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/><br/>
            <label>Телефон покупателя</label>
            <input name="phoneNumber" th:value="*{phoneNumber}"/>
            <label class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"/><br/>
            <label>E-mail покупателя</label>
            <input name="email" th:value="*{email}"/>
            <label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/><br/>
            <button>Сохранить</button>
        </form>
        <div th:if="${orderId} &gt; 0">
            <h2>Состав заказа</h2>
            <form th:action="@{./addOrderItemToOrder(orderId = ${orderId})}" th:method="POST">
                <label>Id продукта</label>
                <input name="productId" th:value="${productId}"/><br/>
                <label>Количество продукта</label>
                <input name="productCount" th:value="${productCount}"/><br/>
                <button class="big">Добавить позицию в заказ</button>
            </form>
            <table>
                <tr>
                    <th>Идентификатор позиции</th>
                    <th>Наименование продукта</th>
                    <th>Количество продукта</th>
                    <th>Цена позиции</th>
                    <th></th>
                </tr>
                <tr  th:each="orderItem : ${listOrderItems}">
                    <td th:text="${orderItem.id}"></td>
                    <td th:text="${orderItem.product.title}"></td>
                    <td th:text="${orderItem.productCount}"></td>
                    <td th:text="${orderItem.productPrice}"></td>
                    <td>
                        <form style="display: inline" th:action="@{./deleteOrderItemById?(id = ${orderItem.id})}" th:method="DELETE">
                            <button  class="small">X</button>
                        </form>                        
                    </td>
                </tr>    
            </table>
        </div>
    </body>
</html>
